#section5 {
  background: #89f0df;
  background: linear-gradient(
    80deg,
    rgba(137, 240, 223, 0.32) 0%,
    rgba(233, 240, 239, 0) 52%,
    rgba(255, 123, 132, 0.18) 100%
  );
}

.sectionFive-Content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  flex-direction: row;
  width: 85%;
}
.hiringProcess-box-one {
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hiringProcess-box-one span{
      position: absolute;
    z-index: 9999999;
    right: -25px;
    font-size: 37px;
    color: #233A41;
}

.centeredMb h4 {
  font-size: 24px;
  font-weight: 600;
  color: #233a41;
  line-height: 2;
}
.centeredMb p {
  font-size: 14px;
  font-weight: 300;
  color: #233a41;
}

@media (min-width: 768px) {
  .hiringProcess-box-one {
    flex: 1 1 calc(20.33% - 10px);
  }
}

.hiringProcess-box {
  border-radius: 97%;
  border: 5px solid rgba(47, 201, 128, 1);
  background-color: #fff;
  height: 179px;
  width: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hiringProcess-box::after {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  border-radius: 50px;
  background-color: #ff8c91;
  color: #fff;
  z-index: 9999999;
  height: 63px;
  width: 63px;
  border: 3px solid #fff;
  text-align: center;
  line-height: 2;
  font-size: 30px;
  font-weight: 60;
}

.hiringProcess-box:nth-child(1)::after {
  content: "1";
}
.hiringProcess-box:nth-child(2)::after {
  content: "2";
}

.hiringProcess-box:nth-child(3)::after {
  content: "3";
}

.hiringProcess-box:nth-child(4)::after {
  content: "4";
}
