#section4 {
  background: #00003c;
}


.sectionFour-firstdiv {
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}



@media (min-width: 768px) {
    .sectionFour-firstdiv
 {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 8.5rem 0;
    }
}


.softWareDevops {
  font-size: 46px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  box-shadow: 0 -35px 32px #00003c;
}
.sectionFr {
  line-height: 1.2;
  padding: 0 1.5rem;
  border-radius: 0.375rem;
  width: 100%;
}
@media (min-width: 768px) {
  .sectionFr {
    width: 48.666667%;
    padding: 0 0.5rem 0;
  }
  
}


.sectionFr-para ul{
display: flex;
    flex-direction: column;
    padding-top: 0;
}
@media (min-width: 768px) {
.sectionFr-para ul{
    padding-top: 5rem;
}
}


.sectionFr-para ul li{
display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
    line-height: 3.5;
    align-items: center;
    border-bottom: 1px solid rgba(217, 217, 217, 0.3);
}