

#section2{
background: #FF7B84;
background: linear-gradient(23deg, rgba(255, 123, 132, 0.2) 9%, rgba(203, 242, 238, 0) 64%, rgba(137, 240, 223, 0.29) 100%);
position: relative;
}
.topRightBg{
  display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.topRightBg2{
  display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (min-width: 768px) {
.topRightBg{
    display: block;
  position: absolute;
    top: 0;
    right: 0;
}
.topRightBg2{
    display: block;
  position: absolute;
    bottom: 0;
    right: 0;
}
}

.topLeftBg{
  display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.topLeftBg2{
  display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (min-width: 768px) {
.topLeftBg{
    display: block;
  position: absolute;
 top: 0;
    left: 0;
}
.topLeftBg2{
    display: block;
  position: absolute;
 bottom: 0;
    left: 0;
}
}



.sectionTwo-firstdiv {
  position: relative;   
  z-index: 10;    
    width: 100%;           
  display: flex;           
  flex-direction: column;  
  gap: 1rem;             
  justify-content: center; 
  align-items: flex-start;   
  flex-wrap: wrap;       
}

.highQuality {
line-height: 1.2;
  padding: 0 1.5rem;          
  border-radius: 0.375rem;  
  width: 100%;              
}


@media (min-width: 768px) {
  .sectionTwo-firstdiv {
    flex-direction: row; 
    
  }
}


@media (min-width: 768px) {
  .highQuality {
    width: 36.666667%;     
     padding: 0 1.5rem 0;      
  }
}




.sectionTwo-para{
        padding: 0 1.5rem 0;
}
@media (min-width: 640px) {
.sectionTwo-para{
        padding: 0 18.5rem 0;
}
}

/* md: ≥ 768px (tablets) */
@media (min-width: 768px) {
.sectionTwo-para{
        padding: 0 2rem 0;
}
}

/* lg: ≥ 1024px (desktop) */
@media (min-width: 1025px) {
.sectionTwo-para{
        padding: 1.3rem 18.5rem 1.5rem;
}
}

.highQuality-para-one{
  display: flex;
  flex-direction: row;
}
.para-one h3{
    color: #233A41;
}
.para-one span{
        color: #fff;
    position: relative;
    top: 4px;
    padding: 4px;
}

.checkd{
    background-color: #2FC980;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    
}
.checkd.unchkd{
    background-color: #FF8C91;
}
.high-Quality{
       font-size: 30px;
           color: #233A41;
           font-weight: 500;
}

.highQuality-para{
    padding-top: 1.8rem;
}

.para-one{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 6px;
        flex-direction: column;
        gap:5px;
}

.para-one h3{
font-size: 18px;
}
.para-one p{
    font-size: 14px;
}


@media (min-width: 640px) {
  .high-Quality {
   font-size: 30px;
  }

}

/* md: ≥ 768px (tablets) */
@media (min-width: 768px) {
  .high-Quality {
   font-size: 30px;
  }

}

/* lg: ≥ 1024px (desktop) */
@media (min-width: 1025px) {
  .high-Quality {
  font-size: 28px;
margin-top: 5rem;
  }

}